/*-- social-icons --*/
.social_icons {
    text-align: center;
}
.social{
    position:relative;
    margin: 10px auto 3px;
}
.social a{
    position: relative;
    display: inline-block;
    width:34px;
    height:34px;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
    text-align: center;
    margin-right: 20px;
}
.social .fb{
    background: #78bbe6;
}
.social .fb:before,
.social .fb:after{
    border-color:#78bbe6;
}
.social .tw{
    background: #78bbe6;
}
.social .tw:before,
.social .tw:after{
    border-color: #78bbe6;
}

.social .gp{
    background: #78bbe6;
}
.social .gp:before,
.social .gp:after
{
    border-color: #78bbe6;
}

.social .lin{
    background: #3a9bdc;
}
.social .lin:before,
.social .lin:after
{
    border-color: #3a9bdc;
}
.social a:before,
.social a:after{
    content: "";
    display: block;
    position: absolute;
    background: transparent;
    top: 0; bottom: 0; left: 0; right: 0;
    border-radius: 50%;
    transition: .3s all;
    border: 3px solid;
}
.social a:hover:after{
   -webkit-transform: scale(1.5);
}
.social a:hover:before{
    -webkit-transform: scale(1);
    transition: .3s all;
    opacity: 0;
}

.connect-social ul li {
	display: inline-block;
}
.social li a {
    display: block;
    font-size: 20px;
    padding:0 8px;
    text-align: center;
    text-decoration: none !important;
    transition: all 0.3s;
}
.connect-social ul li a{
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.connect-social ul li a i {
    color: #fff;
    line-height: 34px;
    font-size: 1em;
    border-radius: 50%;
}

/*-- Footer-Social-Icons --*/




/*--copy-right--  color: rgba(255, 255, 255, 0.5); */
.copy-rights{
    line-height: 36px;
    margin-bottom: 0;
    font-size: 130%;
}
/*--copy-right--*/



/*-- to-top --*/
.scrolltop {
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:20px;
    right:10px;	
    z-index: 999;
}
.scroll {
	position:absolute;
	right:20px;
	bottom:20px;
	background:#b2b2b2;
	background:rgba(178,178,178,0.7);
	padding:20px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover {
	background:rgba(178,178,178,1.0);
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover .fa {
	padding-top:-10px;
}
.scroll .fa {
	font-size:30px;
	margin-top:-5px;
	margin-left:1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}


/*-- //to-top --*/ 


.nav_logo{
    width:150px;
    height: 50px;
    margin-top:-15px;
}

#hero div {
    position:absolute;
    z-index: 0;
}
#hero div.previous {
    z-index: 1;
}
#hero div.current {
    z-index: 2;
}


@media (min-width: 576px) {
    .welcom-img{
        height: 650px;
        width: 1300px;
    
    }
    #Sur{
        z-index:3 ;
        margin-top: 300px;
    }
    .home-section{
        width: 100%;
        min-height: 650px;
        text-align:center;
        position: relative;
    }
    .intro-title {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 48px;
        margin: 0px 0px 20px 0px;
        font-weight: 700;
      }
    #hero {
        height:500px;
        width:100%;
    }
    #we-are{
        color:white;
        display: inline;

    }
    .title-img{
        margin-top:45px;
        width:30%;

        
    }
 }


 @media (max-width: 576px) {
    .welcom-img{
        height: 220px;
        width: 100%;
    
    }
    .home-section{
        width: 100%;
        text-align:center;
        position: relative;

    }
    .intro-title {
        color: #ffffff;
        text-transform: uppercase;
        margin: 0px 0px 20px 0px;
        font-weight: 700;
        font-size: 30%;
      }
    #Sur{
        margin-top: 85px;
        height:100px;
    }
    #hero {
        height:200px;
        width:100%;
    
        
    }
    #we-are{
        display: inline;
        color:black;
    }

    .title-img{
        margin-top:90px;
        width:65%;
    }
    
    
 }













.about-img{
    width:100%;
}

#hover-white{
    background-color: #DD4B39 ;
    color:white;
    font-weight: bold ;


}
#hover-white:hover{
        background-color: #ffffff ;
        border:1px solid black;
        color:black ;
        
}

.social-logo{
    font-size:100px ;
    color : pink ;
}

.about-text{
    text-align: justify;

}
#about-div{
    margin-top:35px;
}
#about-img{
    width: 100%;
    margin-top : 30px;
}

.act-box{
    padding-top: 20px;
    background-color: #d5eeff;

}
.act-text{
    padding: 20px 50px 50px 50px;
    line-height: 30px;
    color: #696969 ;
    text-align: justify;
    font-size: 115%;

}
.act-title{
    padding-left: 50px;
    padding-bottom: 15px ;
    font-weight: bold;
    color:white
}
.act-title-box{
    background-color: #1b435d;
    padding: 20px
}

.border{
    border :5px solid black;
}

.position{
    position: relative;
    left:6px;


}



.margin-b-50{
    margin-bottom: 50px;
}