/*-- social-icons --*/
.social_icons {
    text-align: center;
}
.social{
    position:relative;
    margin: 10px auto 3px;
}
.social a{
    position: relative;
    display: inline-block;
    width:34px;
    height:34px;
    border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	-ms-border-radius: 50%;
    text-align: center;
    margin-right: 15px;
}
.social .fb{
    background: #1b435d;
}
.social .fb:before,
.social .fb:after{
    border-color:#1b435d;
}

.social a:before,
.social a:after{
    content: "";
    display: block;
    position: absolute;
    background: transparent;
    top: 0; bottom: 0; left: 0; right: 0;
    border-radius: 50%;
    transition: .3s all;
    border: 3px solid;
}
.social a:hover:after{
   -webkit-transform: scale(1.5);
}
.social a:hover:before{
    -webkit-transform: scale(1);
    transition: .3s all;
    opacity: 0;
}

.connect-social ul li {
	display: inline-block;
}
.social li a {
    display: block;
    font-size: 20px;
    padding:0 8px;
    text-align: center;
    text-decoration: none !important;
    transition: all 0.3s;
}
.connect-social ul li a{
	-webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.connect-social ul li a i {
    color: #fff;
    line-height: 34px;
    font-size: 1em;
    border-radius: 50%;
}

/*-- Footer-Social-Icons --*/




/*--copy-right--  color: rgba(255, 255, 255, 0.5); */
.copy-rights{
    line-height: 36px;
    margin-bottom: 0;
    font-size: 130%;
}
/*--copy-right--*/



/*-- to-top --*/
.scrolltop {
	width:100%;
	margin:0 auto;
	position:fixed;
	bottom:20px;
    right:10px;	
    z-index: 999;
}
.scroll {
	position:absolute;
	right:20px;
	bottom:20px;
	background:#b2b2b2;
	background:rgba(178,178,178,0.7);
	padding:20px;
	text-align: center;
	margin: 0 0 0 0;
	cursor:pointer;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover {
	background:rgba(178,178,178,1.0);
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 		
}
.scroll:hover .fa {
	padding-top:-10px;
}
.scroll .fa {
	font-size:30px;
	margin-top:-5px;
	margin-left:1px;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}


/*-- //to-top --*/ 




/*-- //contact-logo --*/ 
.contact-logo, .contact-logo1, .contact-logo2{
    height: 50px;
    width: 50px;
    background: #1b435d;
    margin-top: 5px;
    border-bottom-left-radius: 19px;
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;

}
.contact-logo:hover, .contact-logo1:hover, .contact-logo2:hover{
    background: white;
}




.contact-logo a i{
    line-height: 34px;
    font-size: 32px;
    color:white;
    margin-top: 9px;
    margin-left: 17px;
}

.contact-logo a i:hover{
    color:black;
}


.contact-logo1 a i{
    line-height: 34px;
    font-size: 32px;
    color:white;
    margin-top: 9px;
    margin-left: 12px;

}

.contact-logo1 a i:hover{
    color:black;
}

.contact-logo2 a i{
    line-height: 34px;
    font-size: 32px;
    margin-top: 10px;
    margin-left: 14px;
    color:white;
}

.contact-logo2 a i:hover{
    color:black;
}
/*-- //contact-logo --*/ 


/*--contact-back--*/
.contact-bg{
    background-image: url("../img/footer.jpg");
    background-size: 100%;
}
/*--contact-back--*/


.nav_logo{
    width:150px;
    height: 50px;
    margin-top:-15px;
}

#hero div {
    position:absolute;
    z-index: 0;
}
#hero div.previous {
    z-index: 1;
}
#hero div.current {
    z-index: 2;
}


@media (min-width: 991px) {
    .back{
        background-color: #d5eeff ;
    }
    #Sur{
        z-index:3 ;
        margin-top: 300px;
    }
    .home-section{
        width: 100%;
        min-height: 650px;
        text-align:center;
        position: relative;
    }
    .intro-title {
        color: #ffffff;
        text-transform: uppercase;
        font-size: 48px;
        margin: 0px 0px 20px 0px;
        font-weight: 700;
      }
    #hero {
        height:500px;
        width:100%;
    }
    #we-are{
        color:white;
        display: inline;

    }
    .title-img{
        margin-top:45px;
        width:30%;

        
    }
 }


    
    













.about-img{
    width:100%;
}

#hover-white{
    background-color: #1b435d ;
    color:white;
    font-weight: bold ;


}
#hover-white:hover{
        background-color: #ffffff ;
        border:1px solid black;
        color:black ;
        
}

.social-logo{
    font-size:100px ;
    color : pink ;
}


.about-text{
    text-align: justify;
    letter-spacing: 1px;
    padding-bottom: 40px ;
    padding-top: 30px ;
    padding-left: 50px ;
    padding-right:50px ;
    background-color: #d5eeff ;
    border-bottom: 7px solid #1b435d;
    font-size: 110%;
    line-height: 26px ;
    
    

 
}
#about-title{
    font-family: "Roboto";
    margin: 0px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    color : #fff ;
    font-size: 170%;
    background-color: #1b435d ;
    font-weight: 600 ;
}

#about-div{
    margin-top:35px;
}

#about-img{
    width: 100%;
    margin-top : 30px;
}

.border{
    border :5px solid black;
}

.position{
    position: relative;
    left:6px;


}



.margin-b-50{
    margin-bottom: 50px;
}

#get-in-touch{
    margin-top: 20px;
    font-size: 120%;
    color: rgb(255, 247, 247);
    font-weight: bold;

}
.contact-title{
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 200%;
    color: #ffffff;
    text-align: center;
}


#project-btn{
    margin-top: 30px;
    background-color: #78bbe6 ;
    color:white;
    font-size: 100%;
    font-weight: 600;


}
#project-btn:hover{
        background-color: #ffffff ;
        border:1px solid black;
        color:black ;
        
}

.project-github-logo{
    font-size :500%;
}

.project-github-logo i {
    color:white;

}

.project-github-logo i:hover{
    color:#78bbe6;

}




/* ---------------- RESPONSIVE ---------------------  */

@media(max-width:1600px){
    .JLL{
        padding: 20px ;
        font-size: 100% ;
        line-height: 25px ;
        text-align: justify ;
        vertical-align:middle;
        padding-top: 60px ;
    }
    .KEY{
        padding: 10px ;
        font-size: 100% ;
        line-height: 30px ;
        text-align: justify ;
        vertical-align:middle;
        padding-top: 50px ;
    }

}

@media(max-width:1366px){
    .KEY{
        padding: 10px ;
        font-size: 100% ;
        line-height: 30px ;
        text-align: justify ;
        vertical-align:middle;
        padding-top: 30px ;
    }  
    .welcom-img{
        height: 700px;
        width: 1400px;
    
    }  
}

@media(max-width:1280px){
    .welcom-img{
        height: 650px;
        width: 1300px;
    
    }  
}

@media(max-width:1080px){
    .JLL{
        padding: 20px ;
        font-size: 100% ;
        line-height: 25px ;
        text-align: justify ;
        vertical-align:middle;
        padding-top: 50px ;
    }
    .KEY{
        padding: 10px ;
        font-size: 90% ;
        line-height: 30px ;
        text-align: justify ;
        vertical-align:middle;
        padding-top: 40px ;
    }
    .welcom-img{
        height: 650px;
        width: 1100px;
    
    }  
    
}

@media(max-width:1024px){
    .KEY{
        padding: 10px ;
        font-size: 90% ;
        line-height: 23px ;
        text-align: justify ;
        vertical-align:middle;
        padding-top: 40px ;
    }
    .welcom-img{
        height: 600px;
        width: 1050px;
    
    }  
}

@media(max-width:991px){
  
    .welcom-img{
        height: 600px;
        width: 100%;
    
    }
    .home-section{
        width: 100%;
        text-align:center;
        position: relative;

    }
    .intro-title {
        color: #ffffff;
        text-transform: uppercase;
        margin: 0px 0px 20px 0px;
        font-weight: 700;
        font-size: 240%;
      }
    #Sur{
        margin-top: 100px;
        height:80px;
    }
    #hero {
        height:370px;
        width:100%;
    
        
    }
    #we-are{
        display: inline;
        color:black;
    }

    .title-img{
        margin-top:90px;
        width:65%;
    } 	
}

@media(max-width:900px){
    .JLL{
        padding: 10px ;
        font-size: 95% ;
        line-height: 25px ;
        text-align: justify ;
        vertical-align:middle;
        padding-top: 30px ;
    }	
    .KEY{
        padding: 10px ;
        font-size: 88% ;
        line-height: 23px ;
        text-align: justify ;
        vertical-align:middle;
        padding-top: 30px ;
    }
    .welcom-img{
        height: 450px;
        width: 100%;
    
    }
    .home-section{
        width: 100%;
        text-align:center;
        position: relative;

    }
    .intro-title {
        color: #ffffff;
        text-transform: uppercase;
        margin: 0px 0px 20px 0px;
        font-weight: 700;
        font-size: 240%;
      }
    #Sur{
        margin-top: 100px;
        height:80px;
    }
    #hero {
        height:330px;
        width:100%;
    
        
    }
    #we-are{
        display: inline;
        color:black;
    }

    .title-img{
        margin-top:90px;
        width:65%;
    }
}

@media(max-width:800px){
    .KEY{
        padding: 10px ;
        font-size: 82% ;
        line-height: 20px ;
        text-align: justify ;
        vertical-align:middle;
        padding-top: 30px ;
    }
    .welcom-img{
        height: 400px;
        width: 100%;
    
    }
    .home-section{
        width: 100%;
        text-align:center;
        position: relative;

    }
    .intro-title {
        color: #ffffff;
        text-transform: uppercase;
        margin: 0px 0px 20px 0px;
        font-weight: 700;
        font-size: 240%;
      }
    #Sur{
        margin-top: 200px;
        height:80px;
    }
    #hero {
        height:300px;
        width:100%;
    
        
    }
    #we-are{
        display: inline;
        color:black;
    }

    .title-img{
        margin-top:90px;
        width:65%;
    }
}

@media(max-width:768px){
    .welcom-img{
        height: 370px;
        width: 100%;
    
    }
    .home-section{
        width: 100%;
        text-align:center;
        position: relative;

    }
    .intro-title {
        color: #ffffff;
        text-transform: uppercase;
        margin: 0px 0px 20px 0px;
        font-weight: 700;
        font-size: 30%;
      }
    #Sur{
        margin-top: 85px;
        height:80px;
    }
    #hero {
        height:300px;
        width:100%;
    
        
    }
    #we-are{
        display: inline;
        color:black;
    }

    .title-img{
        margin-top:90px;
        width:65%;
    }	
}



@media(max-width:736px){
    .JLL{
        padding: 10px ;
        font-size: 85% ;
        line-height: 25px ;
        text-align: justify ;
        vertical-align:middle;
        padding-top: 20px ;
    }
    .KEY{
        padding: 10px ;
        font-size: 82% ;
        line-height: 17px ;
        text-align: justify ;
        vertical-align:middle;
        padding-top: 30px ;
    }

    .welcom-img{
        height: 370px;
        width: 100%;
    
    }
    .home-section{
        width: 100%;
        text-align:center;
        position: relative;

    }
    .intro-title {
        color: #ffffff;
        text-transform: uppercase;
        margin: 0px 0px 20px 0px;
        font-weight: 700;
        font-size: 30%;
      }
    #Sur{
        margin-top: 85px;
        height:80px;
    }
    #hero {
        height:300px;
        width:100%;
    
        
    }
    #we-are{
        display: inline;
        color:black;
    }

    .title-img{
        margin-top:90px;
        width:65%;
    }
    

}

@media(max-width:667px){
    .KEY{
        padding: 10px ;
        font-size: 82% ;
        line-height: 17px ;
        text-align: justify ;
        vertical-align:middle;
        padding-top: 20px ;
    }
    
    .welcom-img{
        height: 340px;
        width: 100%;
    
    }
    .home-section{
        width: 100%;
        text-align:center;
        position: relative;

    }
    .intro-title {
        color: #ffffff;
        text-transform: uppercase;
        margin: 0px 0px 20px 0px;
        font-weight: 700;
        font-size: 30%;
      }
    #Sur{
        margin-top: 85px;
        height:80px;
    }
    #hero {
        height:250px;
        width:100%;
    
        
    }
    #we-are{
        display: inline;
        color:black;
    }

    .title-img{
        margin-top:90px;
        width:65%;
    }
    

}

@media(max-width:640px){
   
    
    .welcom-img{
        height: 360px;
        width: 100%;
    
    }
    .home-section{
        width: 100%;
        text-align:center;
        position: relative;

    }
    .intro-title {
        color: #ffffff;
        text-transform: uppercase;
        margin: 0px 0px 20px 0px;
        font-weight: 700;
        font-size: 30%;
      }
    #Sur{
        margin-top: 85px;
        height:80px;
    }
    #hero {
        height:270px;
        width:100%;
    
        
    }
    #we-are{
        display: inline;
        color:black;
    }

    .title-img{
        margin-top:90px;
        width:65%;
    }
    
}

@media(max-width:600px){
    .JLL{
        padding: 20px ;
        font-size: 100% ;
        line-height: 25px ;
        text-align: justify ;
        vertical-align:middle;
        padding-top: 60px ;
    }

    .KEY{
        padding: 20px ;
        font-size: 100% ;
        line-height: 25px ;
        text-align: justify ;
        vertical-align:middle;
        padding-top: 60px ;
    }
    .welcom-img{
        height: 340px;
        width: 100%;
    
    }
    .home-section{
        width: 100%;
        text-align:center;
        position: relative;

    }
    .intro-title {
        color: #ffffff;
        text-transform: uppercase;
        margin: 0px 0px 20px 0px;
        font-weight: 700;
        font-size: 30%;
      }
    #Sur{
        margin-top: 85px;
        height:80px;
    }
    #hero {
        height:250px;
        width:100%;
    
        
    }
    #we-are{
        display: inline;
        color:black;
    }

    .title-img{
        margin-top:90px;
        width:65%;
    }
    
}

@media(max-width:568px){
    .welcom-img{
        height: 310px;
        width: 100%;
    
    }
    .home-section{
        width: 100%;
        text-align:center;
        position: relative;

    }
    .intro-title {
        color: #ffffff;
        text-transform: uppercase;
        margin: 0px 0px 20px 0px;
        font-weight: 700;
        font-size: 30%;
      }
    #Sur{
        margin-top: 85px;
        height:100px;
    }
    
    #we-are{
        display: inline;
        color:black;
    }

    .title-img{
        margin-top:90px;
        width:65%;
    }
    
    
 
}

@media(max-width:480px){
    .welcom-img{
        height: 270px;
        width: 100%;
    
    }
}

@media(max-width:414px){
    .welcom-img{
        height: 240px;
        width: 100%;
    
    }
	
}

@media(max-width:384px){

    .welcom-img{
        height: 220px;
        width: 100%;
    
    }
    #hero {
        height:150px;
        width:100%;
    
        
    }
}

@media(max-width:375px){
	.welcom-img{
        height: 220px;
        width: 100%;
    
    }
}

@media(max-width:320px){
    .welcom-img{
        height: 200px;
        width: 100%;
    
    }
}

/* ---------------- RESPONSIVE ---------------------  */


