.w3layouts_work_grid_left{
	float:left;
	width:50%;
	position:relative;
}
.w3layouts_work_grid_left_pos{
	position: absolute;
    top: 18%;
    right: -26%;
    width: 60%;
}
.w3layouts_work_grid_right {
    float: right;
    width: 50%;
    padding: 5em 13em 0em 6em;
    margin-top: 5em;
}
.w3layouts_work_grid_left_pos img {
    border: 10px solid #ffffff;
	box-shadow: 0 0 15px rgba(98,98,98,0.32);
	-webkit-box-shadow: 0 0 15px rgba(98,98,98,0.32);
}
.w3layouts_work_grid_right h4{
	text-align: center;
	font-weight: bold;
    color: #78bbe6;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.w3layouts_work_grid_right h4 i{
    color: #f36371!important;
}
.w3layouts_work_grid_right h5 {
    font-size: 1.5em;
    letter-spacing: 2px;
	text-align:right;
    margin-top: 10px;
    color: #212121;
    line-height: 1.4em;
    text-transform: capitalize;
}
.w3layouts_work_grid_right p {
	margin-top: 30px;
	margin-left: 40px;
	color: #444;
    font-size: 15px;
    line-height: 2.2em;
    letter-spacing: 1px;
}
.w3layouts_work_grid_right p:nth-child(4) {
    color: #f36371;
    text-align: right;
    margin-top: 0!important;
    font-size: 14px;
    line-height: 20px;
}

@media(max-width:2600px){

	.w3layouts_work_grid_right {
		padding: 5em 18em 0em 15em;
		margin-top: 4em;
	}
}


@media(max-width:2000px){

	.w3layouts_work_grid_right {
		padding: 5em 15em 0em 10em;
		margin-top: 4em;
	}
}



@media(max-width:1440px){
	.w3layouts_work_grid_left_pos {
    top: 12%;
    right: -22%;
    width: 60%;
}
}

@media(max-width:1366px){

	.w3layouts_work_grid_right {
		padding: 5em 11em 0em 6em;
		margin-top: 4em;
	}
}



@media(max-width:1280px){
	.w3layouts_work_grid_right {
		padding: 5em 11em 0em 5em;
		margin-top: 2.5em;
	}
	.textbox h4 {
		font-size: 1.7em;
	}
.w3layouts_work_grid_left_pos {
    top: 6%;
    right: -16%;
    width: 60%;
}
}







@media(max-width:1080px){
	
	.w3layouts_work_grid_left {
		width: 45%;
	}
	.w3layouts_work_grid_right h4 {
		font-size: 15px;
	}
	.w3layouts_work_grid_right {
		padding: 1em 9em 0em 1em;
		margin-top: 2.5em;
	}
	.w3layouts_work_grid_right h5 {
		font-size: 1.3em;
	
}
.w3layouts_work_grid_left_pos {
    top: 6%;
    right: -8%;
    width: 50%;
}
}
@media(max-width:1024px){
	
	.w3layouts_work_grid_right {
		margin-top: 2em;
	}
	
}
@media(max-width:991px){
	.w3layouts_work_grid_right {
		margin-top: 1em;
		padding: 1em 6em 0em 1em;
	}
	
}
@media(max-width:900px){
	
	.w3layouts_work_grid_right p {
		margin: 1em 0 0;
	}
}
@media(max-width:800px){
	
	.w3layouts_work_grid_right p {
		font-size: 15px;
		line-height: 1.8em;
		letter-spacing: 0.5px;
	}
	.w3layouts_work_grid_right h4 {
		font-size: 13px;
		letter-spacing: 1px;
	}
	.w3layouts_work_grid_right {
		margin-top: 0.5em;
	}
	.w3layouts_work_grid_right h5 {
		font-size: 1.2em;
	}
	
}
@media(max-width:768px){
	
	.w3layouts_work_grid_left_pos img {
		border: 7px solid #ffffff;
	}
	.w3layouts_work_grid_right p {
		font-size: 14.5px;
		line-height: 2em;
	}
	
	.w3layouts_work_grid_right h5 {
		font-size: 1.1em;
	}
	
}
@media(max-width:736px){
	
	.w3layouts_work_grid_left {
		width: 70%;
		float: none;
		margin: 0 auto;
	}
	.w3layouts_work_grid_right {
		float: none;
		width: 100%;
		margin-top: 0em;
		padding: 2em 7em 0em;
	}

}
@media(max-width:667px){
	
	.w3layouts_work_grid_left {
		width: 80%;
	}
	.w3layouts_work_grid_right {
		padding: 2em 4em 0em;
	}

.w3layouts_work_grid_left_pos {
    position: absolute;
    top: 6%;
    right: -3%;
    width: 50%;
}

}
@media(max-width:480px){

	.w3layouts_work_grid_right p {
		font-size: 14px;
		letter-spacing: 0.5px;
		line-height: 30px;
	}
	.w3layouts_work_grid_right h4 {
		font-size: 17px;
	}
	.copy p {
		font-size: 13px;
		line-height: 29px;
		padding: 10px 20px;
	}
	
}
@media(max-width:414px){
	

	.w3layouts_work_grid_right {
		padding: 2em 2.5em 0em;
	}
	.w3layouts_work_grid_right h5 {
		font-size: 1em;
		letter-spacing: 1.5px;
	}
	.w3layouts_work_grid_right p:nth-child(4) {
		font-size: 13px;
		letter-spacing: 1px;
	}

.w3layouts_work_grid_left_pos {
    top: 6%;
    right: 19%;
    width: 59%;

}
}
@media(max-width:384px){
	
	.w3layouts_work_grid_left_pos {
		top: 14%;
		width: 65%;
	}
	.w3layouts_work_grid_right {
    padding: 5em 2.5em 0em;
}
}

@media(max-width:320px){
	
	.w3layouts_work_grid_right {
    padding: 5em 1.9em 0em;
}
	.w3layouts_work_grid_left {
		width: 85%;
	}
	.w3layouts_work_grid_left_pos {
		top: 10%;
		width: 72%;
	}
	
}









































.w3lmask p{
	color:#FFFFFF;
	font-size:.9em;
	margin:0;
}
.agile_team_grid {
    text-align: center;
}
.view {
    margin: 0;
    float: none;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.view .w3lmask,.view .content {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 376px;
}
.view img {
   display: block;
   position: relative;
}
.view h5 {
    color: #ffffff;
    text-align: center;
    position: relative;
    font-size: 1em;
    font-weight: 800;
    margin: 0 0 1em;
    text-transform: uppercase;
}
.w3-agile-view img {
 -webkit-transition: all 0.4s ease-in-out 0.5s;
    -moz-transition: all 0.4s ease-in-out 0.5s;
    -o-transition: all 0.4s ease-in-out 0.5s;
    -ms-transition: all 0.4s ease-in-out 0.5s;
    transition: all 0.4s ease-in-out 0.5s;
    width: 100%;
}
.w3-agile-view .w3lmask {
    background-color: rgba(0, 0, 0, 0.61);
    -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 0.3s ease-in 0.4s;
    -moz-transition: all 0.3s ease-in 0.4s;
    -o-transition: all 0.3s ease-in 0.4s;
    -ms-transition: all 0.3s ease-in 0.4s;
    transition: all 0.3s ease-in 0.4s;
    padding: 7em 1em 1em 1em;
}
.w3-agile-view h5 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   background: transparent;
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -webkit-transition: all 0.3s ease-in-out 0.1s;
   -moz-transition: all 0.3s ease-in-out 0.1s;
   -o-transition: all 0.3s ease-in-out 0.1s;
   -ms-transition: all 0.3s ease-in-out 0.1s;
   transition: all 0.3s ease-in-out 0.1s;
}
.w3-agile-view p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: scale(10);
   -moz-transform: scale(10);
   -o-transform: scale(10);
   -ms-transform: scale(10);
   transform: scale(10);
   -webkit-transition: all 0.3s ease-in-out 0.2s;
   -moz-transition: all 0.3s ease-in-out 0.2s;
   -o-transition: all 0.3s ease-in-out 0.2s;
   -ms-transition: all 0.3s ease-in-out 0.2s;
   transition: all 0.3s ease-in-out 0.2s;
}
.agile_team_grid:hover .w3-agile-view .w3lmask,.w3-agile-view:hover .w3lmask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
.agile_team_grid:hover .w3-agile-view img,.w3-agile-view:hover img {
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
}
.agile_team_grid:hover .w3-agile-view h5,.w3-agile-view:hover h5 {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transition-delay: 0.1s;
   -moz-transition-delay: 0.1s;
   -o-transition-delay: 0.1s;
   -ms-transition-delay: 0.1s;
   transition-delay: 0.1s;
}
.agile_team_grid:hover .w3-agile-view p,.w3-agile-view:hover p {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: scale(1);
   -moz-transform: scale(1);
   -o-transform: scale(1);
   -ms-transform: scale(1);
   transform: scale(1);
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
.w3-agile-view .agileits_social_icons{
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: translateY(100px);
   -moz-transform: translateY(100px);
   -o-transform: translateY(100px);
   -ms-transform: translateY(100px);
   transform: translateY(100px);
   -webkit-transition: all 0.3s ease-in-out 0.1s;
   -moz-transition: all 0.3s ease-in-out 0.1s;
   -o-transition: all 0.3s ease-in-out 0.1s;
   -ms-transition: all 0.3s ease-in-out 0.1s;
   transition: all 0.3s ease-in-out 0.1s;
}
.agile_team_grid:hover .w3-agile-view .agileits_social_icons,.w3-agile-view:hover .agileits_social_icons{
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.3s;
   -moz-transition-delay: 0.3s;
   -o-transition-delay: 0.3s;
   -ms-transition-delay: 0.3s;
   transition-delay: 0.3s;
}
.team h3{
	color:#fff;
}
.agile_team_grids {
    margin-top: 5em;
}
























	


@media(max-width:1080px){
	.w3-agile-view .w3lmask {
		padding: 3em 1em 1em 1em;
	}
}

@media(max-width:991px){

	.agile_team_grid {
		float: left;
		width: 50%;
		margin-bottom: 2em;
	}
	.w3-agile-view .w3lmask {
		padding: 9em 1em 1em 1em;
	}


}

@media(max-width:667px){

	.w3-agile-view .w3lmask {
		padding: 7em 1em 1em 1em;
	}

}
@media(max-width:568px){

	.w3-agile-view .w3lmask {
		padding: 5em 1em 1em 1em;
	}



}
@media(max-width:480px){

	.w3-agile-view .w3lmask {
		padding: 3em 1em 1em 1em;
	}
}


	
@media(max-width:414px){

	.agile_team_grid {
		float: left;
		width: 95%;
		margin-bottom: 2em;
	}
	.w3-agile-view .w3lmask {
		padding: 8em 1em 1em 1em;
	}

}
	
@media(max-width:320px){

	.agile_team_grid {
		width: 100%;
	}
	.w3-agile-view .w3lmask {
		padding: 5em 1em 1em 1em;
	}
}
/*--responsive--*/
