
body {
  font-family: 'Montserrat', sans-serif;
  color: #505458;
  font-size: 14px;
  line-height: 22px;
  overflow-x:hidden;
}

.home-wrapper img {
  margin-top: 80px;
  margin-bottom: 10px;
}

.home-wrapper h5 {
  margin-bottom: 80px;
  font-size: 16px;
}

.home-wrapper .btn {
  margin-bottom: 70px;
}

.demo-box {
  padding: 20px 0 30px 0; 
  text-align: center;
}

.demo-box a {
  border: 10px solid #f2f2f2;
  display: block;
  -webkit-transition: all 400ms ease-in-out;
       -moz-transition: all 400ms ease-in-out;
         -o-transition: all 400ms ease-in-out;
            transition: all 400ms ease-in-out;
}

.demo-box img {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
}

.demo-box a:hover {
  border: 10px solid #ddd;
}

.demo-box h4 {
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
}

.footer {
  margin-top: 50px;
  padding: 20px 0px;
}

.copyright{
  margin: 0px;
}

.border {
  height: 4px;
  width: 60px;
  border-radius: 5px;
  margin: 0 auto 30px;
  background-color: #01bf86;
}

.title {
  margin-bottom: 15px;
  font-size: 22px;
}

.btn {
  color: #ffffff !important;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 10px 30px;
  border-radius: 20px;
  -webkit-transition: all 0.4s ease-out;
     -moz-transition: all 0.4s ease-out;
       -o-transition: all 0.4s ease-out;
      -ms-transition: all 0.4s ease-out;
          transition: all 0.4s ease-out;
}

.btn:hover {
  box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.3);
}

.btn-custom {
    background-color: #27ae61;
}


.container-fluid {
  max-width: 80%
}
h2{
      font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 70px;
    line-height: 45px;
}